* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	background-color: white;
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	position: sticky;
	top: 5px;
	z-index: 5;
}

nav .right-nav {
	float: right;
	margin-right: 5rem;
}

.tuitt-button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: .5rem;
}

nav .nav-logo, nav .nav {
	margin: .5rem;
	display: inline;
}

#bg-image {
	min-height: 40vh;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: center;
}

.front-bg {
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 40vh;
	text-align: right;
}

.apply-button {	
	color: white;
	background-color: #c2195b;
	border-radius: 20px;
	border-color: #c2195b;
	font-size: 1rem;
	padding: .5rem 4%;
}

.container{
    width: 35vw;
    position: relative;
    left: 55vw;
 }

.title{
	font-size: 2rem;
	line-height: 3rem;
	text-align: right;
}

.subtitle {
font-size: 1rem;
line-height: 1.6;
text-align: right;
}

.intro {
	margin: 5rem;
	text-align: center;
	padding: 2rem;
}

.title-2{
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2rem;
	line-height: 3rem;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

.intro-description {
	text-align: center;
}

.pre-footer{
	background-color: #f7fbfb;
	text-align: center;
	padding: 2rem;
}

.prefooter-description {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.subtitle {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.book-button {
	color: white;
	background-color: #336589;
	border-radius: 20px;
	font-size: 1rem;
	padding: .5rem 3%;
	margin-bottom: 6rem;
}


footer {
	padding: 0.7rem;
	text-align: center;
}

footer span {
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

